body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    font-size: 5vw;
    color: white;
}

.letter {
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
}

@media (min-width: 600px) {
    .container {
        font-size: 5rem;
    }
}